* {
    box-sizing: border-box;
}

.login_body {
    background-color: #093454;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#login_container {
    position: relative;
    z-index: 1;
}

#login_logo {
    width: clamp(100px, 80vw, 650px);
}

#wti_page_name{
    font-size: clamp(1rem, 1.5rem, 1.75rem);
}
#error_message{
    display: block;
    color: red;
    height: 30px;
}

#login_user {
    width: clamp(400px,20vw,600px);
    border: none;
    border-radius: 15px;
    padding: 15px;
    outline: 2px solid transparent;
    transition: outline 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.1s ease-in-out;
}
#login_user::placeholder {
    color: rgba(0, 0, 0, 0.3);
}
#login_user:hover {
    outline-color: #093454;
    box-shadow: 0 0 0 4px #F1B300;
}  
#login_user:focus {
    outline-color: transparent;
    box-shadow: 0 0 0 3px #F1B300;
}

#login_password {
    width: clamp(400px,20vw,600px);
    border: none;
    border-radius: 15px;
    padding: 15px;
    outline: 2px solid transparent;
    transition: outline 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.1s ease-in-out;
}
#login_password::placeholder {
    color: rgba(0, 0, 0, 0.3);
}
#login_password:hover {
    outline-color: #093454;
    box-shadow: 0 0 0 4px #F1B300;
}  
#login_password:focus {
    outline-color: transparent;
    box-shadow: 0 0 0 3px #F1B300;
}

#login_button {
    width: clamp(400px,20vw,600px);
    background-color: #F1B300;
    border: none;
    border-radius: 15px;
    margin-top: 15px;
    color: #093454;
    outline: 2px solid transparent;
    transition: outline 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.1s ease-in-out;
}
#login_button:hover {
    background-color: #bb8d04;
    outline-color: #093454;
    box-shadow: 0 0 0 4px #F1B300;
}