* {
    box-sizing: border-box;
}

/* Login (index.html) styles*/

.login_body {
    position: relative;
    background-color: #093454;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#login_container {
    z-index: 1;
}

#login_logo {
    width: clamp(100px, 80vw, 550px);
}

#wti_page_name{
    font-size: clamp(1rem, 1.5rem, 1.75rem);
}
#error_message{
    display: flex;
    gap: 5px;
    border: none;
    height: 30px;
}
#error_symbol{
    display: none;
    place-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: white;
    font-weight: 700;
    background-color: rgba(255, 38, 38, 0.646);
    font-size: 13px;
}
#error_text{
    color: red;
}

#login_user {
    width: clamp(400px, 20vw, 600px);
    border: none;
    border-radius: 15px;
    padding: 15px;
    outline: 2px solid transparent;
    transition: outline 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.1s ease-in-out;
}
#login_user::placeholder {
    color: rgba(0, 0, 0, 0.3);
}
#login_user:hover {
    outline-color: #093454;
    box-shadow: 0 0 0 4px #F1B300;
}  
#login_user:focus {
    outline-color: transparent;
    box-shadow: 0 0 0 3px #F1B300;
}

#login_password {
    width: clamp(400px, 20vw, 600px);
    border: none;
    border-radius: 15px;
    padding: 15px;
    outline: 2px solid transparent;
    transition: outline 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.1s ease-in-out;
}
#login_password::placeholder {
    color: rgba(0, 0, 0, 0.3);
}
#login_password:hover {
    outline-color: #093454;
    box-shadow: 0 0 0 4px #F1B300;
}  
#login_password:focus {
    outline-color: transparent;
    box-shadow: 0 0 0 3px #F1B300;
}
#icon_wrapper {
    width: clamp(40px, 45px, 50px);
    display: flex;
    height: clamp(40px, 45px, 50px);
    position: absolute;
    right: 10px;
    top: 50%;
    z-index: 10;
    border-radius: 50%;
    background-color: white;
    transform: translateY(-50%);
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#icon_wrapper:hover #password_toggle {
    color: black;
}
#password_toggle {
    color: gray;
    transition: color 0.2s ease-in-out;
}


#login_button {
    width: clamp(400px,20vw,600px);
    background-color: #F1B300;
    border: none;
    border-radius: 15px;
    margin-top: 15px;
    color: #093454;
    outline: 2px solid transparent;
    transition: outline 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.1s ease-in-out;
}
#login_button:hover {
    background-color: #bb8d04;
    outline-color: #093454;
    box-shadow: 0 0 0 4px #F1B300;
}

#wti_legal_note {
    font-size: clamp(0.7rem, 0.9rem, 1rem);
    color: rgba(255, 255, 255, 0.7)
}

/* Home (home.html) Styles */
.home_body {
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff; 
}

.home_body {
    height: 100%;
    width: 100%;
    background-color: #e8e8e8;
}

#nav_bar {
    height: 80px;
    background: #2C3E50;
}
#nav_div {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}
#navbar_nav {
    display: flex;
    align-items: center;
}
#nav_bar_menu {
    width: 30px;
    cursor: pointer;
    margin-right: 15px;
    transition: opacity 0.1s ease-in-out;
}
#nav_bar_menu:hover {
    opacity: 0.8;
}
#nav_bar_logo {
    width: 70px;
    cursor: pointer;
    margin-left: 15px;
    margin-right: 15px;
    transition: opacity 0.1s ease-in-out;
}
#nav_bar_logo:hover {
    opacity: 0.8;
}
.navbar-nav {
    display: flex;
    list-style: none;
    padding: 0;
}
.navbar-nav li {
    margin-left: 5px;
}
.nav-link {
    font-size: 20px;
    color: white;
    cursor: pointer;
}
.nav-link:hover {
    color: rgba(188, 188, 188, 0.637);
}
.nav-link.active {
    font-size: 20px !important;
    color: white !important;
    font-weight: 550;
}
.nav-link.active:hover {
    color: rgba(188, 188, 188, 0.637) !important;
}
#nav_role {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 20px;
    color: white;
}
@media (max-width: 992px) {
    #nav_modules {
        display: none;
    }
    #nav_role {
        display: none;
    }

    #navbar_nav {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
}

 /* General Styling for Profesor Screen */
 #profesor_body {
    flex-direction: column;
    gap: 2rem;
}

/* Profesor Content Section */
.profesor-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
    margin: 2rem;
}

/* Card Container */
#profesor_cursos {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-left: 0;
    margin: 0;
}

/* Card Style */
.card {
    width: 18rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 0 12px rgba(1, 28, 44, 0.3), 0 0 22px rgba(0, 163, 255, 0.2);
    display: flex;
    flex-direction: column;
    margin-top: 10px !important;
    
}
.in-flex .card-body {
    height: 7rem; /* Tamaño fijo */
    padding: 0.5rem; /* Espacio uniforme */
    overflow: hidden; /* Evita desbordamiento */
    display: flex;
    flex-direction: column;
}

.in-flex .card-text {
    max-height: 100%;
    overflow-y: auto; /* Permite desplazamiento */
    padding: 0.1rem; /* Agrega espacio interno */
    box-sizing: border-box; /* Asegura que el padding no rompa la estructura */
}

/* Ocultar la barra de desplazamiento */
.in-flex .card-text::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}





/* Course (course.html) Styles */
.course_body div.course_code_container {
    display: flex;
    margin: 20px 0px 15px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.course_body div.course_code_container p#course_code {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: 0.5px;
    font-weight: 400;
    margin: 10px 15px;  
}

.course_body div.course_card_container p#course_title {
    font-size: 2rem;
    color: black;
    letter-spacing: 0.5px;
    font-weight: 550;
    margin: 10px 0px;  
}


.course_card_container {
    margin: 10px 100px 10px 40px;
    width: 80%;
}

.course_card_container table#card_grid {
    border-collapse: collapse; 
    background-color: #000000;
}

.course_card_container td#grid_txt {

    height: 23px; 
    padding: 10px; 
    vertical-align: middle;
}

.course_card_container img{
    width: clamp(30px, 30vw, 300px);
}

.Alumno{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    display: flex; 
    flex-direction: row; 
    align-items: flex-start; 
    gap: 1rem; 
    margin: -1rem 5rem 2rem 3rem;
    
}

.in-flex{
    flex: 3; 
    display: flex; 
    flex-wrap: wrap; 
    gap: 1rem; 
    padding-left: 0; 
    margin: 0;
    margin-left: 0px;
}

.in-flex:first-child{
    flex: 2;
    padding: 20px;
    margin: 0px;
    margin-bottom: 0px;
}
.searchbar {
    margin-left: 50px;
    width: 91%;
    text-align: center;
}

@media (max-width: 770px) {
    .in-flex {
        display: flex;
        flex-wrap: wrap; /* Permite que los elementos pasen a la siguiente línea */
        flex-direction: column; /* Acomoda las tarjetas en vertical */
        align-items: center; /* Centra los elementos para mejor presentación */
    }

    .in-flex .card {
        width: 90%; /* Las tarjetas ocuparán casi todo el ancho disponible */
        max-width: 400px; /* Limita el ancho en pantallas pequeñas */
        margin-bottom: 20px; /* Espaciado entre tarjetas */
    }
}




@media (max-width: 360px) {
    .in-flex .card {
        width: clamp(220px, 80vw, 320px); /* Mantiene tamaño flexible pero sin ocupar todo el ancho */
        margin-left: 0px; /* Separa del borde izquierdo */
        margin-right: 40px!important; /* Separa del borde derecho */
        margin-bottom: 30px;
    }
}


@media (max-width: 768px) {
    
    .searchbar {
        width: 80% !important; /* Usa !important para forzar la reducción */
        margin-left: 40px; /* Ajusta el margen para alinearlo mejor */
    }
    .card{
        transform: scale(1.15); /* Aumenta en un 10% */ ;
        margin-left: 10px;
        
        margin-top: -10px;
        width: 100%;
        order: -1;
        max-width: 320px; /* Limita el ancho para evitar que desborde */
        margin: auto; /* Centra horizontalmente */
        margin-bottom: 50px;
        align-items: center;

    }
    .in-flex .card {
        width: clamp(220px, 65vw, 700px); /* Reduce el tamaño mínimo a 220px */
        transform: scale(calc(0.95 + (100vw - 320px) / 1800)); 
        margin: auto;
        margin-bottom: 40px;
    }
    .carddemas{
        transform: scale(1.15) !important; /* Aumenta en un 10% */ ;
        align-items: center;
        margin-left: -13px !important;
        margin-bottom: 40px !important;
        margin-right: 10px !important;
        margin-top: -10px !important;
        visibility: hidden;
        display: none;
        order: -1;
        
    }
    .headeralumno{
        margin-left: 40px !important;
    }
    .linea-header{
        width: 89% !important;
    }
    .mask-custom {
        transform: scale(1.20) !important;
        margin-left: -9px !important;
        margin-bottom: 20px !important;
        margin-top: 50px !important;
        margin-right: 10px !important;
        order: -1;
        align-items: center;
        visibility: hidden;
        display: none;
        
    }
    .Alumno {
        display: flex;
        flex-direction: column; /* Cambio de fila a columna */
        align-items: center;
        
        
        margin: 2rem 5rem 2rem 4rem;
        gap: 1rem;
    }
}

.carddemas{
    width: 18rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 0 12px rgba(1, 28, 44, 0.3), 0 0 22px rgba(0, 163, 255, 0.2);
    margin-left: -30px;
    margin-top: 40px;
    margin-bottom: 1rem; 
    margin-right: 31px;
    transform: scale(1.05);
    min-height: 16rem; /* No permitirá que sea más pequeña de 25rem */
    padding: 10px;
}
.mask-custom {
    boder-radius: 15px;  
    transform: scale(1.05);
    margin-left: -30px;
    margin-top: 20px;
    margin-bottom: 1rem; 
    margin-right: 31px;
}

.headeralumno{
    margin-left: 50px;
}


