<!DOCTYPE html>
<html lang="es">
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../styles/style.css">

        <title>Whirlpool Training Interface - Página Inicial</title>
    </head>
    <body class="home_body">
        <div class="top_nav">
            <div id="nav_menu" onclick="openSideMenu()">
                <img src="../images/menu_icon_white.png" class="nav_menu_icon">
            </div>
            <div class="profile_picture">
                <img src="../images/profile_picture_template.png" class="pfp">
            </div>
            <div class="greeting_container">
                <p id="greeting_text">Usuario</p>
            </div>
        </div>
        <div class="decoration_bar"></div>
        <div id="background_overlay" onclick="closeSideMenu()"></div>
        <div id="side_menu">
            <div class="side_menu_top_bar">
                <div class="side_menu_logo" onclick="homeScreen()">
                    <img src="../images/WTI_logo_white_no_name.png" id="side_menu_wti_logo">
                </div>
                <div class="side_menu_button" onclick="closeSideMenu()">
                    <img src="../images/menu_icon_white.png" id="side_menu_icon">
                </div>
            </div>
            <div id="home_screen_side_menu" onclick="homeScreen()">
                <img src="../images/home_screen.png" id="side_menu_home_screen_icon">
                <p id="side_menu_home_screen_text">Pantalla de inicio</p>
            </div>
            <div id="side_menu_course_container">
                <p id="side_menu_courses_text">Cursos</p>
                <p class="side_menu_course" display="none"></p>
            </div>
            <div id="log_out_container" onclick="logOut()">
                <img src="../images/logout_icon.png" id="side_menu_log_out_icon">
                <p id="side_menu_log_out_text">Cerrar sesión</p>
            </div>
        </div>

        <div id="prof">
            <div class="courses_title">
                <h2>Cursos</h2>
            </div>
            <div class="card_container"> 
                <div class="card">
                    <div class="card-headerr">
                        
                        <img src="../images/crear.png" class="edit-iconn" onclick="createCourseForm()">
                    </div>
                    <img src="../images/azul.png">
                    <div class="card-content">
                        <h3>Crear curso</h3>
                    </div> 
                </div>
            </div>
            

            <div id="formContainer"></div>
            
            
        
            <div class="card_container"> 
            </div>

            <div id="formContainer"></div>
            
            </div>
        </div>
        
        <script src="../scripts/home_screen_func.js"></script>
        <script src="../scripts/profesor.js"></script>
    </body>
</html>
