<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../styles/style.css">

        <title>Whirlpool Training Interface - Página Inicial</title>
    </head>
    <header class="navigation_bar">
        <div class="top_nav">
            <div class="nav_menu">
                <img src="../images/menu_icon_white.png" class="nav_menu_icon">
            </div>
            <div class="nav_logo">
                <img src="../images/WTI_logo_white_no_name.png" class="nav_wti_logo">
            </div>
            <div class="profile_picture">
                <img src="../images/profile_picture_template.png" class="pfp">
            </div>
            <div class="greeting_container">
                <p id="greeting_text">Welcome, </p>
            </div>
        </div>
        <div class="decoration_bar"></div>
        <script src="../scripts/home_screen_func.js"></script>
    </header>
    <body class="alumno_body">
        
    </body>
</html>