<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/style.css">

        <title>Whirlpool Training Interface</title>
    </head>
    <body class="index_body">
        <div class="logo_container">
            <img src="../images/WTI_logo_white_no_name.png" class="index_wti_logo">
        </div>
        <div class="page_name_container">
            <p class="wti_page_name">Whirlpool Training Interface</p>
        </div>
        <div class="login_error_container">
            <p id="login_error_message"></p>
        </div>
        <div class="text_input_container">
            <input type="text" id="userid_input" placeholder="Usuario...">
        </div>
        <div class="text_input_container">
            <input type="password" id="password_input" placeholder="Contraseña...">
        </div>
        <div class="button_container">
            <button id="log_in_button" onclick="login()">Iniciar sesión</button>
        </div>
        <script src="../scripts/index_screen_func.js"></script>
    </body>
</html>