<!DOCTYPE html>
<html lang="es" class="profesor_interface">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../styles/style_prof.css">
        <title>Whirlpool Training Interface - Página Inicial</title>
    </head>
    <body class="profesor_body">
        <!-- Menú lateral y overlay -->
        <div id="background_overlay" onclick="closeSideMenu()"></div>

        <div id="side_menu">
            <div class="side_menu_top_bar">
                <div class="side_menu_logo" onclick="closeSideMenu()">
                </div>
            </div>

            <div id="home_screen_side_menu">
                <img src="../images/home_screen.png" alt="Home Icon" class="home_screen_icon">
                <p id="side_menu_home_screen_text">Inicio</p>
            </div>

            <div id="side_menu_course_container">
                <p id="side_menu_courses_text">Cursos</p>
                <p class="side_menu_course" style="display:none;"></p>
            </div>

            <div id="log_out_container" onclick="logout()">
                <img src="../images/logout_icon.png" alt="Logout Icon" class="logout_icon">
                <p id="side_menu_log_out_text">Cerrar sesión</p>
            </div>
        </div>

        <div class="top_nav">
            <div class="nav_menu" onclick="openSideMenu()">
                <img src="../images/menu_icon_white.png" class="nav_menu_icon">
            </div>
            <div class="nav_logo" onclick="logout()">
                <img src="../images/WTI_logo_white_no_name.png" class="nav_wti_logo">
            </div>
            <div class="profile_picture">
                <img src="../images/profile_picture_template.png" class="pfp">
            </div>
            <div class="greeting_container">
                <p id="greeting_text">Welcome, </p>
            </div>
        </div>

        <div class="decoration_bar"></div>
        <div class="courses_title">
            <h2>Cursos</h2>
        </div>
        
        <!-- Contenedor de tarjetas -->
        <div class="card_container"> 
            
            
            <div class="card">
                <div class="card-header">
                    <img src="../images/vertical_dots.png" class="edit-icon">
                </div>
                <img src="../images/azul.png">
                <div class="card-content">
                    <h3>Conceptos Básicos</h3>
                </div> 
            </div>

            <div class="card">
                <div class="card-header">
                    <img src="../images/vertical_dots.png" class="edit-icon" onclick="toggleMenu(this)">
                    <div class="edit-options">
                        <button onclick="editCard()">Editar</button>
                        <button onclick="deleteCard(this)">Borrar</button> <!-- Se pasa "this" como referencia -->
                    </div>
                </div>
                <img src="../images/azul.png">
                <div class="card-content">
                    <h3>Conceptos Básicos</h3>
                </div>
            </div>
            
            <div class="card">
                <div class="card-header">
                    <img src="../images/vertical_dots.png" class="edit-icon">
                </div>
                <img src="../images/azul.png">
                <div class="card-content">
                    <h3>Conceptos Básicos</h3>
                </div> 
            </div>
        </div>

        <script src="../scripts/home_screen_func.js"></script>
        <script src="../scripts/profesor.js"></script>

    </body>
</html> 
