* {
    box-sizing: border-box;
}

/*index.html styles*/
@media only screen and (max-width: 768px) { /*Mobile devices*/
    .index_body {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100%;
        margin: 0;
        background: #093454;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

    .logo_container {
        display: block;
        width: 100%;
        height: 200px;
        margin-top: 10vh;
        margin-bottom: 0;
        overflow: hidden;
    }
    .index_wti_logo {
        width: auto;
        height: 150%;
    }

    .page_name_container {
        display: block;
        width: 100%;
        margin-top: 0;
    }
    .wti_page_name {
        color: #ffffff;
        font-size: 120%;
        text-align: center;
        letter-spacing: 3px;
    }

    .text_input_container {
        display: block;
        width: 100%;
    }
    #userid_input {
        border: 5px solid #F1B300;
        border-radius: 15px;
        padding: 15px;
        width: 250px;
        height: 50px;
        margin-top: 25px;
        margin-bottom: 7px;
        font-size: 15px;
        letter-spacing: 1px;
        outline: none;
    }
    #password_input {
        border: 5px solid #F1B300;
        border-radius: 15px;
        padding: 15px;
        width: 250px;
        height: 50px;
        margin-top: 7px;
        margin-bottom: 4px;
        font-size: 15px;
        letter-spacing: 1px;
        outline: none;
    }

    .button_container {
        display: block;
        width: 100%;
    }
    #log_in_button {
        border: 0px;
        border-radius: 15px;
        width: 250px;
        height: 50px;
        margin-top: 40px;
        font-size: 18px;
        letter-spacing: 0px;
        justify-content: center;
        text-align: center;
        color: #093454;
        font-weight: bold;
        background-color: #F1B300;
    }
    #log_in_button:hover {
        background-color: #bb8d04;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) { /*Tablet devices*/
    .index_body {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100%;
        margin: 0;
        background: #093454;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

    .logo_container {
        display: block;
        width: 100%;
        height: 250px;
        margin-top: 10vh;
        margin-bottom: 0;
        overflow: hidden;
    }
    .index_wti_logo {
        width: auto;
        height: 150%;
    }

    .page_name_container {
        display: block;
        width: 100%;
        margin-top: 0;
    }
    .wti_page_name {
        color: #ffffff;
        font-size: 130%;
        text-align: center;
        letter-spacing: 3px;
    }

    .text_input_container {
        display: block;
        width: 100%;
    }
    #userid_input {
        border: 5px solid #F1B300;
        border-radius: 15px;
        padding: 15px;
        width: 300px;
        height: 55px;
        margin-top: 25px;
        margin-bottom: 7px;
        font-size: 15px;
        letter-spacing: 1px;
        outline: none;
    }
    #password_input {
        border: 5px solid #F1B300;
        border-radius: 15px;
        padding: 15px;
        width: 300px;
        height: 55px;
        margin-top: 7px;
        margin-bottom: 4px;
        font-size: 15px;
        letter-spacing: 1px;
        outline: none;
    }

    .button_container {
        display: block;
        width: 100%;
    }
    #log_in_button {
        border: 0px;
        border-radius: 15px;
        width: 300px;
        height: 55px;
        margin-top: 40px;
        font-size: 18px;
        letter-spacing: 0px;
        justify-content: center;
        text-align: center;
        color: #093454;
        font-weight: bold;
        background-color: #F1B300;
    }
    #log_in_button:hover {
        background-color: #bb8d04;
    }
}
@media (min-width: 1025px) { /*Monitors and computers*/
    .index_body {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100%;
        margin: 0;
        background: #093454;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

    .logo_container {
        display: block;
        width: 100%;
        height: 320px;
        margin-top: 1vh;
        margin-bottom: 0px;
        overflow: hidden;
    }
    .index_wti_logo {
        width: auto;
        height: 150%;
    }

    .page_name_container {
        display: block;
        width: 100%;
        margin-top: 0;
    }
    .wti_page_name {
        color: #ffffff;
        font-size: 30px;
        text-align: center;
        letter-spacing: 3px;
    }

    .text_input_container {
        display: block;
        width: 100%;
    }
    #userid_input {
        border: 5px solid #F1B300;
        border-radius: 15px;
        padding: 15px;
        width: 350px;
        height: 60px;
        margin-top: 25px;
        margin-bottom: 7px;
        font-size: 15px;
        letter-spacing: 1px;
        outline: none;
    }
    #password_input {
        border: 5px solid #F1B300;
        border-radius: 15px;
        padding: 15px;
        width: 350px;
        height: 60px;
        margin-top: 7px;
        margin-bottom: 4px;
        font-size: 15px;
        letter-spacing: 1px;
        outline: none;
    }

    .button_container {
        display: block;
        width: 100%;
    }
    #log_in_button {
        border: 0px;
        border-radius: 15px;
        width: 350px;
        height: 60px;
        margin-top: 40px;
        font-size: 18px;
        letter-spacing: 0px;
        justify-content: center;
        text-align: center;
        color: #093454;
        font-weight: bold;
        background-color: #F1B300;
    }
    #log_in_button:hover {
        background-color: #bb8d04;
    }
}

/*alumno_home.html styles*/
@media only screen and (max-width: 768px) { /*Edit mobile to follow Figma*/
}
@media only screen and (min-width: 769px) { /*Tablets, monitors and computers*/
    .alumno_body {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        text-align: center;
        margin: 0;
        background: #00111D;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .alumno_body div.top_nav {
        height: 70px;
        width: 100%;
        margin: 0;
        background-color: #415361;
        overflow: hidden;
    } 

    .alumno_body div.top_nav div.nav_menu {
        height: 55px;
        width: 55px;
        border-radius: 50%;
        margin: 0px 10px;
        margin-top: 7px;
        padding: 10px;
        float: left;
    }
    .alumno_body div.top_nav div.nav_menu:hover {
        background-color: #333f48;
    }
    .alumno_body div.top_nav div.nav_menu img.nav_menu_icon {
        height: 100%;
        width: auto;
        float: left;
    }

    .alumno_body div.top_nav div.nav_logo {
        height: 90%;
        width: auto;
        margin: 3px 10px;
        padding: 10px;
        border-radius: 15%;
        align-items: center;
        float: left;
    }
    .alumno_body div.top_nav div.nav_logo:hover {
        background-color: #333f48;
    }
    .alumno_body div.top_nav div.nav_logo img.nav_wti_logo {
        height: 160%;
        width: auto;
        float: left;
        transform: translateY(-15%);
    }

    .alumno_body div.top_nav div.profile_picture {
        height: 70%;
        width: auto;
        border-radius: 50%;
        margin: 10px;
        float: right;
    }
    .alumno_body div.top_nav div.profile_picture:hover {
        background-color: #333f48;
    }
    .alumno_body div.top_nav div.profile_picture img.pfp {
        height: 100%;
    }

    .alumno_body div.top_nav div.greeting_container {
        height: 100%;
        margin: 0px 10px;
        width: auto;
        float: right;
    }
    
    .alumno_body div.top_nav div p#greeting_text {
        font-size: 25px;
        color: white;
        letter-spacing: 1px;

    }
    .alumno_body div.top_nav div p#greeting_text:hover {
        text-decoration: underline;
    }

    .alumno_body div.decoration_bar {
        height: 5px;
        width: 100%;
        margin: 0;
        background-color: #F1B300;
    }
}

/*teacher_home.html styles*/
@media only screen and (max-width: 1024px) { /*Teachers are not allowed to use mobile and tablet devices*/
}
@media only screen and (min-width: 1025px) { /*Monitors and computers*/
}

/*admin_home.html styles*/
@media only screen and (max-width: 1024px) { /*Admins are not allowed to use mobile and tablet devices*/
}
@media only screen and (min-width: 1025px) { /*Monitors and computers*/
}