* {
    box-sizing: border-box;
}

/*index.html styles*/
@media only screen and (max-width: 768px) { /*Mobile devices*/
    .index_body {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100%;
        margin: 0;
        background: #093454;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

    .logo_container {
        display: block;
        width: 100%;
        height: 200px;
        margin-top: 10vh;
        margin-bottom: 0;
        overflow: hidden;
    }
    .index_wti_logo {
        width: auto;
        height: 150%;
    }

    .page_name_container {
        display: block;
        width: 100%;
        margin-top: 0;
    }
    .wti_page_name {
        color: #ffffff;
        font-size: 120%;
        text-align: center;
        letter-spacing: 3px;
    }

    .login_error_container {
        display: block;
        width: 100%;
        height: 30px;
        margin-top: 0;
    }
    #login_error_message {
        color: #ff2727;
        font-size: 15px;
        text-align: center;
        letter-spacing: 1px;
        font-weight: normal;
        transform: translateY(10px);
    }

    .text_input_container {
        display: block;
        width: 100%;
    }
    #userid_input {
        border: 5px solid transparent;
        border-radius: 15px;
        padding: 15px;
        width: 250px;
        height: 50px;
        margin-top: 25px;
        margin-bottom: 7px;
        font-size: 15px;
        letter-spacing: 1px;
        outline: 2px solid transparent;
        position: relative;
        transition: outline 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.1s ease-in-out;
    }
    #userid_input:hover {
        background-color: #fbfafa;
        outline-color: #093454;
        box-shadow: 0 0 0 4px #F1B300;
    }  
    #userid_input:focus {
        background-color: #fbfafa;
        outline-color: transparent;
        box-shadow: 0 0 0 3px #F1B300;
    }
    #password_input {
        border: 5px solid transparent;
        border-radius: 15px;
        padding: 15px;
        width: 250px;
        height: 50px;
        margin-top: 7px;
        margin-bottom: 4px;
        font-size: 15px;
        letter-spacing: 1px;
        outline: 2px solid transparent;
        position: relative;
        transition: outline 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.1s ease-in-out;
    }
    #password_input:hover {
        background-color: #fbfafa;
        outline-color: #093454;
        box-shadow: 0 0 0 4px #F1B300;
    }  
    #password_input:focus {
        background-color: #fbfafa;
        outline-color: transparent;
        box-shadow: 0 0 0 3px #F1B300;
    }

    .button_container {
        display: block;
        width: 100%;
    }
    #log_in_button {
        background-color: #F1B300;
        border: 0px;
        border-radius: 15px;
        width: 250px;
        height: 50px;
        margin-top: 40px;
        font-size: 18px;
        letter-spacing: 0px;
        justify-content: center;
        text-align: center;
        color: #093454;
        font-weight: bold;
        position: relative;
    }
    #log_in_button::before {
        content: "";
        position: absolute;
        top: -4px; left: -4px; right: -4px; bottom: -4px;
        z-index: -1;
        border: 2px solid #F1B300;
        border-radius: 20px;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }
    #log_in_button:hover {
        background-color: #bb8d04;
    }
    #log_in_button:hover::before {
        opacity: 1;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) { /*Tablet devices*/  
    .index_body {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100%;
        margin: 0;
        background: #093454;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

    .logo_container {
        display: block;
        width: 100%;
        height: 250px;
        margin-top: 10vh;
        margin-bottom: 0;
        overflow: hidden;
    }
    .index_wti_logo {
        width: auto;
        height: 150%;
    }

    .page_name_container {
        display: block;
        width: 100%;
        margin-top: 0;
    }
    .wti_page_name {
        color: #ffffff;
        font-size: 130%;
        text-align: center;
        letter-spacing: 3px;
    }

    .login_error_container {
        display: block;
        width: 100%;
        height: 30px;
        margin-top: 0;
    }
    #login_error_message {
        color: #ff2727;
        font-size: 15px;
        text-align: center;
        letter-spacing: 1px;
        font-weight: normal;
        transform: translateY(10px);
    }

    .text_input_container {
        display: block;
        width: 100%;
    }
    #userid_input {
        border: 5px solid transparent;
        border-radius: 15px;
        padding: 15px;
        width: 300px;
        height: 55px;
        margin-top: 25px;
        margin-bottom: 7px;
        font-size: 15px;
        letter-spacing: 1px;
        outline: 2px solid transparent;
        position: relative;
        transition: outline 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.1s ease-in-out;
    }
    #userid_input:hover {
        background-color: #fbfafa;
        outline-color: #093454;
        box-shadow: 0 0 0 4px #F1B300;
    }  
    #userid_input:focus {
        background-color: #fbfafa;
        outline-color: transparent;
        box-shadow: 0 0 0 3px #F1B300;
    }
    #password_input {
        border: 5px solid transparent;
        border-radius: 15px;
        padding: 15px;
        width: 300px;
        height: 55px;
        margin-top: 7px;
        margin-bottom: 4px;
        font-size: 15px;
        letter-spacing: 1px;
        outline: 2px solid transparent;
        position: relative;
        transition: outline 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.1s ease-in-out;
    }
    #password_input:hover {
        background-color: #fbfafa;
        outline-color: #093454;
        box-shadow: 0 0 0 4px #F1B300;
    }  
    #password_input:focus {
        background-color: #fbfafa;
        outline-color: transparent;
        box-shadow: 0 0 0 3px #F1B300;
    }

    .button_container {
        display: block;
        width: 100%;
    }
    #log_in_button {
        background-color: #F1B300;
        border: none;
        border-radius: 15px;
        width: 300px;
        height: 55px;
        margin-top: 40px;
        font-size: 18px;
        letter-spacing: 0px;
        justify-content: center;
        text-align: center;
        color: #093454;
        font-weight: bold;
        position: relative;
    }
    #log_in_button::before {
        content: "";
        position: absolute;
        top: -4px; left: -4px; right: -4px; bottom: -4px;
        z-index: -1;
        border: 2px solid #F1B300;
        border-radius: 20px;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }
    #log_in_button:hover {
        background-color: #bb8d04;
    }
    #log_in_button:hover::before {
        opacity: 1;
    }
}
@media (min-width: 1025px) { /*Monitors and computers*/
    .index_body {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100%;
        margin: 0;
        background: #093454;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

    .logo_container {
        display: block;
        width: 100%;
        height: 320px;
        margin-top: 1vh;
        margin-bottom: 0px;
        overflow: hidden;
    }
    .index_wti_logo {
        width: auto;
        height: 150%;
    }

    .page_name_container {
        display: block;
        width: 100%;
        margin-top: 0;
    }
    .wti_page_name {
        color: #ffffff;
        font-size: 30px;
        text-align: center;
        letter-spacing: 3px;
    }

    .login_error_container {
        display: block;
        width: 100%;
        height: 30px;
        margin-top: 0;
    }
    #login_error_message {
        color: #ff2727;
        font-size: 15px;
        text-align: center;
        letter-spacing: 1px;
        font-weight: bold;
        transform: translateY(10px);
    }

    .text_input_container {
        display: block;
        width: 100%;
    }
    #userid_input {
        border: 5px solid transparent;
        border-radius: 15px;
        padding: 15px;
        width: 350px;
        height: 60px;
        margin-top: 25px;
        margin-bottom: 7px;
        font-size: 15px;
        letter-spacing: 1px;
        outline: 2px solid transparent;
        position: relative;
        transition: outline 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.1s ease-in-out;
    }
    #userid_input:hover {
        background-color: #fbfafa;
        outline-color: #093454;
        box-shadow: 0 0 0 4px #F1B300;
    }  
    #userid_input:focus {
        background-color: #fbfafa;
        outline-color: transparent;
        box-shadow: 0 0 0 3px #F1B300;
    }
    #password_input {
        border: 5px solid transparent;
        border-radius: 15px;
        padding: 15px;
        width: 350px;
        height: 60px;
        margin-top: 7px;
        margin-bottom: 4px;
        font-size: 15px;
        letter-spacing: 1px;
        outline: 2px solid transparent;
        position: relative;
        transition: outline 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.1s ease-in-out;
    }
    #password_input:hover {
        background-color: #fbfafa;
        outline-color: #093454;
        box-shadow: 0 0 0 4px #F1B300;
    }  
    #password_input:focus {
        background-color: #fbfafa;
        outline-color: transparent;
        box-shadow: 0 0 0 3px #F1B300;
    }

    .button_container {
        display: block;
        width: 100%;
    }
    #log_in_button {
        background-color: #F1B300;
        border: none;
        border-radius: 15px;
        width: 350px;
        height: 60px;
        margin-top: 40px;
        font-size: 18px;
        letter-spacing: 0px;
        justify-content: center;
        text-align: center;
        color: #093454;
        font-weight: bold;
        position: relative;
    }
    #log_in_button::before {
        content: "";
        position: absolute;
        top: -4px; left: -4px; right: -4px; bottom: -4px;
        z-index: -1;
        border: 2px solid #F1B300;
        border-radius: 20px;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }
    #log_in_button:hover {
        background-color: #bb8d04;
    }
    #log_in_button:hover::before {
        opacity: 1;
    }
}

/*home.html styles*/
/*Navigation Bar*/
@media only screen and (max-width: 768px) { /*Mobile devices*/
}
@media only screen and (min-width: 769px) { /*Tablets, monitors and computers*/
    .navigation_bar {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 75px;
        width: 100%;
        margin: 0;
    }
    .alumno_body div.top_nav {
        height: 70px;
        width: 100%;
        margin: 0;
        background-color: #415361;
        overflow: hidden;
    } 
    .alumno_body div.top_nav div.nav_menu {
        height: 55px;
        width: 55px;
        border-radius: 0%;
        margin: 0px 10px;
        margin-top: 7px;
        padding: 10px;
        float: left;
    }
    /*.alumno_body div.top_nav div.nav_menu:hover {
        background-color: #333f48;
    } */ /* --> Add back when onclick is implemented */ 
    .alumno_body div.top_nav div.nav_menu img.nav_menu_icon {
        height: 100%;
        width: auto;
        float: left;
    }

    .alumno_body div.top_nav div.nav_logo {
        height: 90%;
        width: auto;
        margin: 3px 10px;
        padding: 10px;
        
        align-items: center;
        float: left;
    }
    /*.alumno_body div.top_nav div.nav_logo:hover {
        background-color: #333f48;
    } *//* --> Add back when onclick is implemented */ 
    .alumno_body div.top_nav div.nav_logo img.nav_wti_logo {
        height: 160%;
        width: auto;
        float: left;
        transform: translateY(-15%);
    }

    .alumno_body div.top_nav div.profile_picture {
        height: 70%;
        width: auto;
        border-radius: 50%;
        margin: 10px;
        float: right;
    }
    /*.alumno_body div.top_nav div.profile_picture:hover {
        background-color: #333f48;
    } *//* --> Add back when onclick is implemented */ 
    .alumno_body div.top_nav div.profile_picture img.pfp {
        height: 100%;
    }

    .alumno_body div.top_nav div.greeting_container {
        height: 100%;
        margin: 0px 10px;
        width: auto;
        float: right;
    }
    
    .alumno_body div.top_nav div p#greeting_text {
        font-size: 25px;
        color: white;
        letter-spacing: 1px;

    }
    /*.alumno_body div.top_nav div p#greeting_text:hover {
        text-decoration: underline;
    }*/ /* --> Add back when onclick is implemented */ 

    .alumno_body div.decoration_bar {
        height: 5px;
        width: 100%;
        margin: 0;
        background-color: #F1B300;
    }
}

/*student part*/
@media only screen and (max-width: 768px) { /*Edit mobile to follow Figma*/

}
@media only screen and (min-width: 769px) { /*Tablets, monitors and computers*/
    .alumno_body {
        display: flex;
        width: 100%;
        height: 90%;
        flex-direction: column;
        text-align: center;
        margin: 0;
        background: #00111D;
        font-family: Arial, Helvetica, sans-serif;
    }

}

/*teacher part*/
@media only screen and (max-width: 1024px) { /*Teachers are not allowed to use mobile and tablet devices*/
}
@media only screen and (min-width: 1025px) { /*Monitors and computers*/
}